@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Karla:wght@200;300;400;500;600;700;800&display=swap');

*{
  /* border: 0; */
  margin: 0;
  padding: 0;
  font-family: 'karla';
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Karla', sans-serif; */
}

.header{
  display: flex;
  /* border: 2px solid red; */
  place-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 1.125rem 3.125rem;
}

.header--Logo{
  display: flex;
  place-items: center;
  justify-content: center;
}

.header__Logo__name{
  margin-left: 1.25rem;
  font-size: 3.375rem;
  letter-spacing: -0.1em;
  /* line-height: 64px; */
}

h4.Header-heading-info{
  margin-left: auto;
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  line-height: 2.375em;
  /* transform: translateY(0.2em); */
}

.form-section{
  width: 1440px;
  max-width: 85%;
  margin: 0 auto;
}

.form{
  /* margin: auto auto; */
  width: 100%;
  display: flex;
  /* border: 2px solid blue; */
  flex-direction: column;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-top: 5.875em;
}

.input-container{
  display: flex;
  width: 100%;
  /* border: 2px solid red; */
}

input{
  width: 100%;
  padding: 1.225rem;
  border-radius: 13.0909px;
  font-size: 2rem;
  padding-top: 1.275rem;
  padding-bottom: 1.275rem;
}

input#input-2{
  margin-left: 2.75rem;
}

button{
  padding-top: 1.275rem;
  padding-bottom: 1.275rem;
  font-size: 2.618125rem;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 13.0909px;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 1.2em;
  border: 0;
}

img.meme-image{
  /* border: 2px solid red; */
  width: 100%;
  max-width: 20rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.meme-container{
  position: relative;
  /* border: 2px solid red; */
  margin-top: 3rem;
}

.meme-text{
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px; 
  text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
  top: 0;
}

.top {
  bottom: 0;
}